---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Historias from '../components/Historias.astro';
import Publicaciones from '../components/Publicaciones.astro';
import Sugerencias from '../components/Sugerencias.astro';
---
<body class="flex">
<Layout />
<Menu /> 
<Historias />
<Sugerencias />


</body>



<style>
</style>
