---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Menuperfil from '../components/Menuperfil.astro';
import Destacadas from '../components/Destacadas.astro';
---
<body class="flex">
    <Layout />
    <Menu />
    <Menuperfil /> 
    <Destacadas />
</body>