---
---
<div class="flex">
    <container class="historia1">
        <div>
            <img src="/bonito.jpeg" class="imagen-historia1 outline outline-offset-2 outline-pink-500">
            <figcaption class="texto-historia1" > ❤️</figcaption>
        </div>
    </container>
    <container class="historia">
        <div>
            <img src="https://i.pinimg.com/564x/b5/d4/15/b5d41538698a4f774e73b8df3fd4d85b.jpg" class="imagen-historia outline outline-offset-2 outline-pink-500">
            <figcaption class="texto-historia" > 🔫 </figcaption>
        </div>
    </container>
    <container class="historia2">
        <div>
            <img src="https://i.pinimg.com/564x/95/ab/dd/95abdda537df774d5a32f7b06994a8fe.jpg" class="imagen-historia2 outline outline-offset-2 outline-pink-500">
            <figcaption class="texto-historia2" >Yo</figcaption>
        </div>
    </container>
    <container class="historia3">
        <div>
            <img src="https://i.pinimg.com/564x/f5/7f/69/f57f6993febcf408a2af5c3b0cc7ea6d.jpg" class="imagen-historia3 outline outline-offset-2 outline-gray-500">
            <figcaption class="texto-historia3 font-xl">Nueva</figcaption>
        </div>
    </container>
</div>
<hr class="h-px  bg-gray-200 border-0 dark:bg-gray-700 mr-16 mb-12">
<style>
    .historia1{
    width: 92px;
    height: 92px ;
    display: flex;
    margin-top: 250px;
    margin-left: -700px;

}
.imagen-historia1{
    width: 80px;
    border-radius: 50px;
    margin-left: 20px;

}
.texto-historia1{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-left: 30px;
}
.historia{
    width: 92px;
    height: 92px ;
    display: flex;
    margin-top: 250px;
    margin-left: 40px;

}
.imagen-historia{
    width: 80px;
    border-radius: 50px;
    margin-left: 30px;

}
.texto-historia{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-left: 50px;
}
.historia2{
    width: 72px;
    height: 92px ;
    display: flex;
    margin-top: 250px;
    margin-left: 40px;

}
.imagen-historia2{
    width: 80px;
    border-radius: 50px;
    margin-left: 30px;

}
.texto-historia2{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-left: 50px;
}
.historia3{
    width: 62px;
    height: 92px ;
    display: flex;
    margin-top: 250px;
    margin-left: 50px;

}
.imagen-historia3{
    width: 75px;
    border-radius: 50px;
    margin-left: 30px;

}
.texto-historia3{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-left: 45px;
}
</style>