---

---
<div>
    <hr class="h-px  bg-gray-200 border-0 dark:bg-gray-700 mr-16 mb-12">
    <div class="caja text-white">
        <img src="check.png" class="w-32">
        <h1 class="text-xl">
            Estas al dia
        </h1>
        <h1 class="text-sm text-gray-500">
            Viste todas las publicaciones nuevas de los últimos 3 días.
        </h1>
        <a href="/" class="text-blue-500 text-sm">Ver publicaciones anteriores</a>
    </div>
    <hr class="h-px  bg-gray-200 border-0 dark:bg-gray-700 mr-16 mb-12 mt-24">
</div>
<style>
    .caja img, .caja h1, .caja a {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-left: -65px;
    }
    .caja a{
        margin-top: 16px;
        align-items: center;
    }
    .caja img{
        margin-left: 160px;
    }
</style>
