---
import Publicaciones from "./Publicaciones.astro"
---

<container class="historia ml-72 mt-8">
<div>
    <img src="/rosas.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
    <figcaption class="texto-historia" >vnny_hng</figcaption>
</div>
</container>
<container class="historia">
    <div>
        <img src="/joji_foto_perfil.jpg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >Sushitrash</figcaption>
    </div>
</container>
<container class="historia">
    <div>
        <img src="/kirby.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >Kirby</figcaption>
    </div>
</container>
<container class="historia">
    <div>
        <img src="/luffy.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >Monkey.D</figcaption>
    </div>
</container>
<container class="historia">
    <div>
        <img src="/perrito.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >Firulais</figcaption>
    </div>
</container>
<container class="historia">
    <div>
        <img src="/juanito.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >Juanito</figcaption>
    </div>
</container>
<container class="historia">
    <div>
        <img src="/Joji.jpeg" class="imagen-historia outline outline-offset-2 outline-pink-500">
        <figcaption class="texto-historia" >joji</figcaption>
    </div>
</container>
<Publicaciones />
<style>
.historia{
    width: 92px;
    height: 92px ;
    display: flex;
    margin-top: 32px;
}
.imagen-historia{
    width: 55px;
    border-radius: 50px;
    margin-left: 20px;

}
.texto-historia{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-left: 10px;
}
</style>