---
import Destacadas from "./Destacadas.astro";

---
<div class="ml-[250px]"> 
    <div class="ml-36 mt-8 flex">
        <img src="/perfil.jpg" class="rounded-full   ml-6">
        <h3 class="text-white ml-24  text-xl">Sushitrash799</h3>
        <a href="" class="w"><button
            class="bg-[#292929] border-2 border-[#3e3e3e] rounded-lg text-white px-4 py-1 text-base text-bold hover:border-[#fff] cursor-pointer transition ml-4">
            Editar perfil
          </button>
        </a>
        <a href="" class="text-white ml-6">
            <button
            class="bg-[#292929] border-2 border-[#3e3e3e] rounded-lg text-white px-4 py-1 text-base text-bold hover:border-[#fff] cursor-pointer transition -ml-3">
            Archivo
          </button>
        </a>
        <svg  class="text-white ml-3"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-nut"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 6.84a2.007 2.007 0 0 1 1 1.754v6.555c0 .728 -.394 1.4 -1.03 1.753l-6 3.844a1.995 1.995 0 0 1 -1.94 0l-6 -3.844a2.006 2.006 0 0 1 -1.03 -1.752v-6.557c0 -.728 .394 -1.399 1.03 -1.753l6 -3.582a2.049 2.049 0 0 1 2 0l6 3.582h-.03z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
    </div>
    <div class="flex text-white ml-[390px] seguidores"> 
        <h2 class="ml-6"><span class="text-[18px]">1</span> publicación</h2>
        <h2 class="ml-6"><span class="text-[18px]">23</span> seguidores</h2>
        <h2 class="ml-6"><span class="text-[18px]">31</span> seguidos</h2>
    </div>
    <div class="ml-[415px] ">
        <h1 class="text-white font-semibold mt-4">
            Cerritos
        </h1>
        <a href="/" class="text-blue-500 text-[15px] -mt-4">@sushitrash</a>
    </div>
</div>

<style>
    .boton{
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: rgb(63, 63, 63);
    }
    .seguidores{
        margin-top: -88px;
    }
</style>