---
---
<header class="cuadrado">
    <div>
        <img src="https://fontmeme.com/permalink/240413/ce4f8136b9652015101765cf662d492f.png" alt="logo de instagram" class="text-white w-28 ml-6 mt-9">
    </div>
    <div class="principal">
        <a href="/" class="a">
            <svg class="icons" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M10 12h4v4h-4z" /></svg>
            <h2 class="h2-inicio">Inicio</h2>
        </a>
    </div>
    <div class="search">
        <a href="/" class="a">
            <svg class="icons"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            <h2 class="h2">Buscar</h2>
        </a>
    </div>
    <div class="brujula">
        <a href="/" class="a">
            <svg  class="icons" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-safari"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 16l2 -6l6 -2l-2 6l-6 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
            <h2 class="h2">Explorar</h2>
        </a>
    </div>
    <div class="reels">
        <a href="/" class="a">
            <svg  class="icons"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-movie"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 4l0 16" /><path d="M16 4l0 16" /><path d="M4 8l4 0" /><path d="M4 16l4 0" /><path d="M4 12l16 0" /><path d="M16 8l4 0" /><path d="M16 16l4 0" /></svg>
            <h2 class="h2">Reels</h2>
        </a>
    </div>
    <div class="messenger">
        <a href="/" class="a">
            <svg  class="icons"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-messenger"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" /><path d="M8 13l3 -2l2 2l3 -2" /></svg>
            <h2 class="h2">Mensajes</h2>
        </a>
    </div>
    <div class="heart">
        <a href="/" class="a">
            <svg  class="icons" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-notification"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 6h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M17 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
            <h2 class="h2">Notificaciones</h2>
        </a>
    </div>
    <div class="inicio">
        <a href="/" class="a">
            <svg  class="icons" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M9 12h6" /><path d="M12 9v6" /></svg>
            <h2 class="h2">Crear</h2>
        </a>
    </div>
    <div class="inicio">
        <a href="/sushitrash799" class="a">
            <img src="/perfil.jpg" class="rounded-full w-[25px] ml-2 outline outline-offset-2 outline-white  ">
            <h2 class="h2 ml-3">Perfil</h2>
        </a>
    </div>
</header>
<style>

a {
    color: #fff;
    display: flex;
    margin-left: 20px;
    align-items: center; 
    text-decoration: none; 
    margin-bottom: 25px;
}
a:hover{
    padding: 1px;

}
.principal{
    margin-top: 45px;
    
}

.icons {
    width: 34px;
    margin-right: 10px; 

}
.h2-inicio{
    font-size: large;
    font-weight: bold;
}
.h2{
    font-size: large;
    font-weight: semibold;
}
.cuadrado{
    border-color: white;
    border-bottom: #fff;
    position: fixed; /* Set the navbar to fixed position */
}


</style>

