---
---
<div>
    <section class="ml-[55px]">
        <div>
            <div class="flex mt-10 text-base">
                <img src="/perfil.jpg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">Sushitrash799<a href="/" class="text-blue-500 ml-24 text-sm mt-3 hover:text-white">Cambiar</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Cerritos</h3>
        </div>
        <div>
            <div class="flex mt-10">
                <h1 class="text-gray-400 text-sm">Sugerencias para ti<a href="/" class="text-white ml-[130px] mt-3 text-sm hover:text-gray-500">Ver más</a></h1>
            </div>
        </div>
        <div>
            <div class="flex mt-10 text-base">
                <img src="/rosas.jpeg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">vnny_hng<a href="/" class="text-blue-500 ml-[135px] text-sm mt-3 hover:text-white">Seguir</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Sugerencia para ti</h3>
        </div>
        <div>
            <div class="flex mt-5 text-base">
                <img src="/juanito.jpeg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">Juanito<a href="/" class="text-blue-500 ml-[150px] text-sm mt-3 hover:text-white">Seguir</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Sugerencia para ti</h3>
        </div>
        <div>
            <div class="flex mt-5 text-base">
                <img src="/kirby.jpeg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">Kirby<a href="/" class="text-blue-500 ml-[165px] text-sm mt-3 hover:text-white">Seguir</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Sugerencia para ti</h3>
        </div>
        <div>
            <div class="flex mt-5 text-base">
                <img src="/perrito.jpeg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">Firulais<a href="/" class="text-blue-500 ml-[155px] text-sm mt-3 hover:text-white">Seguir</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Sugerencia para ti</h3>
        </div>
        <div>
            <div class="flex mt-5 text-base">
                <img src="/Joji.jpeg" alt="foto de perfil" class="w-11 rounded-full">
                <a  href="/"class="text-white font-semibold text-[13px] ml-[19px]">Joji<a href="/" class="text-blue-500 ml-[180px] text-sm mt-3 hover:text-white">Seguir</a></a>
            </div>
            <h3 class="text-gray-400 ml-16 -mt-6 text-[12px]">Sugerencia para ti</h3>
        </div>
    </section>
    <footer class="text-gray-500 row text-[12px] ml-16 mt-12">
        <a href="">Informacion</a>
        <a href="">Ayuda</a>
        <a href="">Prensa</a>
        <a href="">Api</a>
        <a href="">Empleo</a>
        <br>
        <a href="">Privacidad</a>
        <a href="">Condiciones</a>
        <a href="">Ubicaciones</a>
        <a href="">Idioma</a>
        <br>
        <a href="">Meta verified</a>
        <h1 class="mt-4">© 2024 INSTAGRAM FROM META</h1>
    </footer>
</div>